{
    margin: 1;
    padding: 1;
    box-sizing: border-box;
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  } 

  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button 
  {
    background-color: #4CAF50;
    color: rgb(28, 26, 26);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  result 
  {
    font-weight: bold;
    font-size: 20px;
  }